target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/pemahaman.txt
pembagian_tugas_tim.md
context/BDD (GHERKIN+CUCUMBER).txt
context/DDD.txt
context/TDD.txt
context/Tugas.txt
CLAUDE.md
context/PLANNING.md
context/Roadmap.md
docs/USER_FLOW.md
PEMBAGIAN_TUGAS_PERBAIKAN.md
